
html {
    font-size: 62.5%;
    font-weight: 400;
}

.header {
    display: flex;
}
.header-logo {
    text-align: center;
}
.navbar .nav-link {
    font-size: 1.8rem;
}
.image-frame {
    border: 1px solid #e1e1e1;
}
.image-frame img {
    width: 100%;
}
